# Ignore node_modules folders (these are recreated during build)
node_modules
**/node_modules

# Ignore local environment files (you might have sensitive keys in .env)
.env
*.env

# Ignore logs
npm-debug.log
yarn-debug.log
yarn-error.log
*.log

# Ignore build output (compiled files, like dist or build folder)
dist
build
out

# Ignore Dockerfile and docker-compose.yml (they are used only for Docker build and not in the image)
Dockerfile
docker-compose.yml

# Ignore version control directories (if using git, svn, etc.)
.git
.gitignore
.svn

# Ignore IDE or editor specific files/folders (VSCode, JetBrains, etc.)
.vscode
.idea
*.swp
